<script>
    $( document ).ready(function() {
        const monthInput = document.querySelector('#month');
        const yearInput = document.querySelector('#year');

        const focusSibling = function(target, direction, callback) {
            const nextTarget = target[direction];
            nextTarget && nextTarget.focus();
            callback && callback(nextTarget);
        }

        monthInput.addEventListener('input', (event) => {
            const value = event.target.value.toString();
            if (value.length === 1 && value > 1) {
                event.target.value = "0" + value;
            }

            if (value === "00") {
                event.target.value = "01";
            } else if (value > 12) {
                event.target.value = "12";
            }
            2 <= event.target.value.length && focusSibling(event.target, "nextElementSibling");
            event.stopImmediatePropagation();
        });

        yearInput.addEventListener('keydown', (event) => {
            if (event.key === "Backspace" && event.target.selectionStart === 0) {
                focusSibling(event.target, "previousElementSibling");
                event.stopImmediatePropagation();
            }
        });

        const inputMatchesPattern = function(e) {
            const {
                value,
                selectionStart,
                selectionEnd,
                pattern
            } = e.target;

            const character = String.fromCharCode(e.which);
            const proposedEntry = value.slice(0, selectionStart) + character + value.slice(selectionEnd);
            const match = proposedEntry.match(pattern);

            return e.metaKey || // cmd/ctrl
              e.which <= 0 || // arrow keys
              e.which == 8 || // delete key
              match && match["0"] === match.input;
        };

        document.querySelectorAll('input[data-pattern-validate]').forEach(el => el.addEventListener('keypress', e => {
            if (!inputMatchesPattern(e)) {
                return e.preventDefault();
            }
        }));
    });
</script>

<style>
    .exp-wrapper {
        position: relative;
        border: 1px solid #aaa;
        display: flex;
        width: 300px;
        justify-content: space-around;
        height: 36px;
        line-height: 36=px;
        font-size: 24px;
    }

    .exp-wrapper:after {
        content: '/';
        position: absolute;
        left: 50%;
        color: #aaa;
    }

    input.exp {
        float: left;
        font-family: monospace;
        border: 0;
        width: 25px;
        outline: none;
        appearance: none;
        font-size: 14px;
    }
    a.disabled {
        pointer-events: none;
        cursor: default;
    }
</style>

<div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <% if subscription? %>
      <%= link_to "Get all access", new_subscription_path, class: "btn btn-primary disabled"  %>
    <% else %>
      <%= link_to "Get all access", new_subscription_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="exp-wrapper">
  <input autocomplete="off" class="exp" id="month" maxlength="2" pattern="[0-9]*" inputmode="numerical" placeholder="MM" type="text" data-pattern-validate />
  <input autocomplete="off" class="exp" id="year" maxlength="2" pattern="[0-9]*" inputmode="numerical" placeholder="YY" type="text" data-pattern-validate />
</div>
